@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700|Raleway:400,900&display=swap');

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
 */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
 	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background: linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.7)),url('https://picsum.photos/2000/1000') no-repeat center fixed;
}

h1, h2, h3, h4, h5, h6, ul, p {
	margin: 0;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

/*************** 

HEADER

****************/

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: white;
	border-bottom: 1px solid #cbd5e0;
	width: 100%;
	padding: 10px 0;
	transition: transform .3s ease-in-out;
}

.header.off {
	transform: translateY(-100%);
}

.header__container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
}

.header__logo {
	font-size: 22px;
	white-space: nowrap;
	margin-left: 20px;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	transition: .5s max-width ease-in-out;
}

.header__container.active .header__logo {
	max-width: 0%;
}

/*************** 

HEADER__BURGER

****************/

.header__burger {
	position: relative;
	z-index: 2;
	background-color: black;
	border-radius: 2px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 22.5px;
	cursor: pointer;
	overflow: hidden;
	max-width: 45px;
	min-height: 36px;
	transform: translateZ(0);
	transition: margin-left .7s ease-in-out;
}

.line__burger {
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: white;
	transition: transform .7s ease-in-out;
}

.line__burger:first-child {
  transform: translateY(9px);
}

.line__burger:last-child {
  transform: translateY(-9px);
}

.header__container.active .line__burger:nth-child(1) {
  transform: rotate(45deg);
}

.header__container.active .line__burger:nth-child(2),
.header__container.active .line__burger:nth-child(3) {
  transform: rotate(-45deg);
}

.burger__menu {
	overflow-y: auto;
	width: 100%;
	background-color: rgb(97, 93, 93);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateX(-100%);
	transition: transform .7s ease-in-out,
				padding-right .7s ease-in-out;
	z-index: 1;
}

.burger__menu .container {
	padding: 10px 10px 60px;
	height: auto;
}

.burger__menu.active {
	transform: translateX(0%);
}

/*************** 

INTRO

****************/

.intro {
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
}

.posts__intro {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.post__intro {
	margin-top: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: 30px;
	max-width: calc((100% / 3) - 20px);
}

.post__intro.first {
	text-align: center;
	color: white;
	margin-left: 0;
	max-width: calc((100% / 3) * 2 - 10px);
	min-height: 470px;
}

.post__intro:nth-child(3n+3) {
	margin-left: 0;
}

.post__intro.first .post__intro__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 20px 0;
	z-index: 0;
}

.post__intro.first .post__intro__title {
	font-size: 34px;
	line-height: 1.25;
	margin-bottom: 10px;
	padding: 0 15px;
}

.post__intro__date {
	overflow-x: hidden;
}

.post__intro__section {
	cursor: pointer;
	position: relative;
	display: inline-block;
	overflow-x: hidden;
}

.post__intro__section::after {
	width: 100%;
	display: block;
	content: '';
	position: absolute;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: black;
	transition: left 0.4s ease-in-out;
}

.post__intro.first .post__intro__section::after {
	background-color: white;
}

.post__intro__section:hover::after {
	left: 100%;
}

.post__intro.first .post__intro__img {
	position: absolute;
	height: 100%;
	width: 100%;
}

.post__intro.first .post__intro__img img {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.post__intro:not(.first) img {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
	transition: filter .5s ease-in-out;
}

.post__intro:not(.first) img:hover {
	filter: grayscale(100%)
}

.post__intro.first  .post__intro__img:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
	background-color: rgba(34, 41, 47, 0.9);
}

.post__intro.first .post__intro__text {
	padding: 0 100px;
	font-size: 18px;
}

.post__intro__info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.post__intro.first .post__intro__info {
	margin-bottom: 15px;
	justify-content: center;
}

.post__intro__info span:not(:last-child)::after {
	content: '·';
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.post__intro:not(.first) .post__intro__title {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.post__intro:not(.first) .post__intro__info {
	margin-bottom: 10px;
}

/*************** 

CONTENT

****************/

main.content {
	padding: 110px 0;
}

.content__blocks {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

/*************** 

LEFT__BLOCK

****************/

.left__block {
	width: 70%;
}

.post__media {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 80px;
	flex-direction: column;
	max-width: 700px;
}

.post__media__right {
	min-width: 400px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.post__media__title {
	font-weight: bold;
	font-size: 24px;
}

.post__media__text {
	margin-top: 8px;
}

.post__media__text a {
	color: #3673b5;
	opacity: 0.7;
	text-decoration: none;
	transition: opacity .05s linear;
	white-space: nowrap
}

.post__media__text a:hover {
	opacity: 1;
}

.post__media__info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-size: 14px;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 5px;
}

.post__media__info div {
	margin-right: 10px;
}

.post__section {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), 0px 0px 100px 37px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), 0px 0px 100px 37px rgba(0,0,0,0.1) inset;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3), 0px 0px 100px 37px rgba(0,0,0,0.1) inset;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 10px;
	padding: 0 8px;
	font-weight: 500;
	color: black;
	text-decoration: none;
	transition: box-shadow .15s linear,
				-webkit-box-shadow .15s linear,
				-moz-box-shadow .15s linear;
}

.post__section:hover {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7), 0px 0px 100px 37px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7), 0px 0px 100px 37px rgba(0,0,0,0.2) inset;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7), 0px 0px 100px 37px rgba(0,0,0,0.2) inset;
}

.post__date {
	min-width: 90px;
}

.post__tags {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 10px;
	font-size: 12px;
}

.post__tags a {
	border: 1px solid #a3a4a6;
	border-radius: 10px;
	padding: 0 10px;
	margin-right: 8px;
	margin-top: 5px;
	-webkit-box-shadow: 0px 0px 100px 37px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0px 0px 100px 37px rgba(0,0,0,0.1) inset;
	box-shadow: 0px 0px 100px 37px rgba(0,0,0,0.1) inset;
	color: black;
	text-decoration: none;
	transition: box-shadow .15s linear,
				-webkit-box-shadow .15s linear,
				-moz-box-shadow .15s linear;
}

.post__tags a:hover {
	-webkit-box-shadow: 0px 0px 100px 37px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0px 0px 100px 37px rgba(0,0,0,0.2) inset;
	box-shadow: 0px 0px 100px 37px rgba(0,0,0,0.2) inset;
}

/*************** 

RIGHT__BLOCK

****************/

.right__block {
	margin-left: auto;
	max-width: 350px;
}

.right__block > div:not(:first-child) {
	margin-top: 40px;
}

.title__comments {
	text-align: center;
	font-weight: 600;
	color: white;
	background-color: #333333;
	padding: 15px 0;
}

/*************** 

COMMENT

****************/

.comment {
	margin-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	text-decoration: none;
	color: black;
}

.comment__img {
	min-width: 100px;
	max-width: 100px;
}

.comment__text {
	padding-left: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.comment__article {
	font-size: 15px;
	font-weight: bold;
}

.comment__in__article {
	font-size: 12px;
	margin-top: 2px;
}

.comment__author {
	margin-top: auto;
}

/*************** 

CATEGORIES

****************/

.categories__title {
	background-color: #333333;
	color: white;
	text-align: center;
	padding: 10px 0;
}

.categories {
	margin-top: 15px;
}

.categories__name {
	padding: 7px 0;
	border-bottom: 1px solid #858585;
	display: block;
	text-decoration: none;
	color: black;
	font-size: 17px;
	transition: background-color .2s ease-in-out,
				color .2s ease-in-out,
				padding-left .2s ease-in-out,
				border-bottom .2s ease-in-out;
}

.categories__name:last-child {
	border-bottom: 1px solid transparent;
}

.categories__name:hover {
	background-color: #333333;
	color: white;
	padding-left: 15px;
	border-bottom: 1px solid transparent;
}

/*************** 

CALENDAR

****************/

.calendar {
	margin: 60px auto;
	max-width: 350px;
	background-color: white;
}

.calendar__top {
	position: relative;
}

.calendar__date {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.calendar__month {
	margin-right: 5px;
	display: block;
}

.month__wrapper {
	background-color: white;
	color: black;
	font-weight: 600;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 80%;
	right: 45%;
	-webkit-box-shadow: 0px 0px 16px 0px black;
	-moz-box-shadow: 0px 0px 16px 0px black;
	box-shadow: 0px 0px 16px 0px black;
	border: 1px solid black;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s ease-in-out,
				visibility .2s ease-in-out;
}

.month__wrapper.active {
	visibility: visible;
	opacity: 1;
}

.month__wrapper .month {
	padding: 5px 10px 0 10px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.month__wrapper .month.active {
	background-color: #ee5728;
	color: white;
}

.month__wrapper .month:last-child {
	padding-bottom: 5px;
}

.month__wrapper .month:hover {
	color: white;
	background-color: #333333;
}

.month__wrapper .month.active:hover {
	background-color: rgba(0, 0, 0, 0.25);
	color: #ee5728;
}

.calendar__top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	background-color: #333333;
}

.calendar__right, .calendar__left {
	font-size: 24px;
	line-height: 1;
	cursor: pointer;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 12px;
    margin-top: -4px;
}

.day__week {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	padding: 6px 0;
	border-left: 2px solid #d1d1d1;
	border-right: 2px solid #d1d1d1;
}

.day__month {
	border-left: 2px solid #d1d1d1;
	border-right: 2px solid #d1d1d1;
	border-bottom: 2px solid #d1d1d1;
}

.week {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.week > div {
	background-color: #f3f2f2;
	flex: 1;
	height: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 19px;
}

.week > div:not(:last-child) {
	border-right: 2px solid white;
}

.week:not(:last-child) div {
	border-bottom: 2px solid white;
}

div.today {
	background-color: #ee5728;
	color: white;
}

/*************** 

FOOTER

****************/

.footer {
	padding: 40px 0;
	background-color: #333333;
}

.footer__container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	color: white;
	justify-content: space-between;
}

.footer__left {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer__links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	text-transform: uppercase;
	font-size: 14px;
}

.footer__link:not(:last-child) {
	margin-right: 30px;
}

.footer__copyright {
	color: rgba(255, 255, 255, 0.2);
}

.footer__copyright a {
	color: rgba(255, 255, 255, 0.3);
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	transition: ease-in-out .2s border-bottom,
				ease-in-out .2s color;
}

.footer__copyright a:hover {
	color: rgba(255, 255, 255, 0.4);
	border-color: rgba(255, 255, 255, 0.4)
}

.footer__title {
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.footer__icons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 20px;
}

.footer__icons .vk {
	border-radius: 50%;
	background-color: #d2d1cf;
	transition: .25s ease-in-out background-color;
}

.footer__icons .vk path {
	fill: #333333;
	transition: .25s ease-in-out fill;
}

.footer__icons .vk:hover {
	background-color: #4a76a8;
}

.footer__icons .vk:hover path {
	fill: white;
}





































@media (max-width: 1130px) {
	.content__blocks {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		max-width: 700px;
		margin: 0 auto;
	}
	
	.right__block {
		margin-left: 0;
	}

	.title__comments, .categories__title {
		color: black;	
		background-color: white;
		font-weight: bold;
		padding: 0;
		text-align: left;
	}

	.comment {
		margin-top: 15px;
	}

	.left__block {
		width: auto;
	}

	.footer__container {
		max-width: 700px;
		margin: 0 auto;
	}
}

@media (max-width: 960px) {
	.post__intro.first {
		max-width: 100%;
		width: 100%;
	}

	.post__intro {
		max-width: calc(50% - 10px);
	}

	.post__intro:nth-child(3n+3) {
		margin-left: 0;
	}

	.post__intro:nth-child(2n+2) {
		margin-left: 0;
	}

	.post__intro:nth-child(2n+3) {
		margin-left: 20px;
	}
}

@media (max-width: 700px) {
	.post__media{
		height: auto;
		align-items: flex-start;
	}

	.post__media__left {
		min-width: auto;
		height: auto;
		margin: 0 auto 10px;
		max-width: 100%;
		padding-top: 0;
	}

	.post__media__left img {
		max-height: 400px;
	}

	.post__media__right {
		padding-left: 0;
	}

	.post__media__right {
		min-width: auto;
	}

	.post__media__title {
		line-height: 1;
		margin-bottom: 3px;
	}

	.post__media__info {
		margin-bottom: 2px;
	}

	.post__date, .post__section {
		margin-top: 5px;
	}
}

@media (max-width: 650px) {

	.post__intro, .post__intro:nth-child(3n+3) {
		max-width: 100%;
		margin-left: 0;
	}

	.post__intro:nth-child(2n+3) {
		margin-left: 0;
	}

	.footer__links {
		flex-direction: column;
	}

	.footer__link {
		margin-top: 5px;
	}
}

@media (max-width: 550px) {

	.post__intro.first .post__intro__text {
		padding: 0 50px;
	}

	.post__intro.first .post__intro__title {
		line-height: 1.125;
	}

	.footer__container {
		flex-direction: column;
		text-align: center;
	}

	.footer__link:not(:last-child) {
		margin-right: 0;
	}

	.footer__copyright {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.footer__icons {
		justify-content: center;
	}
}

@media (max-width: 300px) {

	.post__intro.first .post__intro__title {
		font-size: 26px;
		padding: 0;
	}

	.post__intro.first .post__intro__text {
		padding: 0 15px;
		font-size: 16px;
	}

	.comment__text {
		padding-left: 0;
	}

	.comment__img {
		display: none;
	}

	.week > div {
		height: 30px;
		font-size: 16px;
	}
}

@media (max-width: 200px) {
	.post__media__title {
		font-size: 20px;
	}
}
